/* shared style */
.colorp{
    color: #FD6E0A;
}
.btnP{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 20px;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: black;
    font-size: 45px;
    font-weight: 900;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: #474747;
}