/* shared style */
.colorp{
    color: #fb8b24;
}
.btnP{
    border-radius: 5px;
    background-color: #e36414;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 20px;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 160px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: black;
    font-size: 45px;
    font-weight: 900;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    background-color: #acc5d7;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner {
    padding: 30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-cont{
    max-width: 500px;
}
.greet{
    font-size: 45px;
    color: #0f4c5c;
    margin-bottom: 0;
}
.name{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}
.des{
    margin-top: 5px;
}